{{ 'single-video-chat.css' | asset_url | stylesheet_tag }}
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

<style>
  .popup {
    background: {{ background_color }};
    color: {{ font_color }};
  }
</style>

<div id="chat-login-modal" class="pulogin hidden">
  <div class="popup">
    <button onClick="closeModal('chat-login-modal')" class="close" href="#">&times;</button>
    <div class="content">
      {% section 'single-base-login' %}
    </div>
  </div>
</div>

<script>
  function openModal(id) {
    if (id === 'chat-register-modal') {
      showRegisterForm();
    } else {
      showLoginForm();
    }
    const modal = document.getElementById('chat-login-modal');
    modal.classList.remove('hidden');
    setupForms();
  }

  function closeModal(id) {
    const modal = document.getElementById(id);
    modal.classList.add('hidden');
  }

  function handleIframeMessage(event) {
    if (event.data.type === 'openChatModal') {
      openModal(event.data.id);
    }
  }

  function getUrlOrDefault(url) {
    if (!url || url === '') {
      return window.location.href;
    }
    return url;
  }

  function setupForm(formId, postUrl, returnUrl) {
    jQuery(formId).submit(function (event) {
      event.preventDefault();
      const data = jQuery(this).serialize();

      jQuery.post(postUrl, data).done(function (data) {
        const formErrors = jQuery(data).find('.errors').text();
        const formMessages = jQuery(data).find('.form__message').siblings('ul').text();
        const errorsElement = jQuery(formId + ' .errors');

        //if there are errors show them in the html form
        if (formErrors !== '' && formErrors !== 'undefined') {
          errorsElement.html(formErrors);
          errorsElement.show();
        } else if (formMessages !== '' && formMessages !== 'undefined') {
          errorsElement.html(formMessages);
          errorsElement.show();
        } else {
          document.location.href = returnUrl;
        }
      });
      return false;
    });
  }

  function setupForms() {
    setupForm('#create_customer', '/account', getUrlOrDefault('{{ register_url }}'));
    const loginUrl = getUrlOrDefault('{{ login_url }}');
    if (loginUrl !== window.location.href) {
      setupForm('#customer_login', '/account/login', loginUrl);
    }
  }

  function chatModalSetup() {
    const loginUrl = getUrlOrDefault('{{ login_url }}');
    document.querySelectorAll('[name="return_to"]').forEach((node) => (node.value = loginUrl));
    window.addEventListener('message', (e) => handleIframeMessage(e), false);
  }

  if (/complete|interactive|loaded/.test(document.readyState)) {
    chatModalSetup();
  } else {
    window.addEventListener('DOMContentLoaded', chatModalSetup);
  }
</script>
