<section class="single-content-section">
    <h2 class="title h2 video-collection-title">{{ section_title }}</h2>
    <div id="{{ row_id }}" class="single-card-row">
        {% if video_ids.size > 0 %}
            <div class="single-chevron left">
                {% render 'single-chevron-left' %}
            </div>
            <div class="single-video-slider">
                {% for video_input in video_ids %}
                    {% render 'single-video-card', video_input: video_input, show_title: show_title, show_date: show_date, show_badge: show_badge, badge_text: badge_text %}
                {% endfor %}
            </div>
            <div class="single-chevron right">
                {% render 'single-chevron-right' %}
            </div>
        {% else %}
            <h2 style="width:100%; text-align: center;">No videos available</h2>
        {% endif %}
    </div>
    {% if video_landing_url %}
        <div style="width:100%; text-align: center;">
            <button class="btn button" onclick="location.href='{{ video_landing_url }}'">View All</button>
        </div>
    {% endif %}
</section>

<script>
    if (typeof SingleVideoBarSlider === 'undefined') {
        let scriptUrl = "{{ 'single-video-bar.js' | asset_url }}";
        let videoBarScript = document.createElement('script');
        videoBarScript.setAttribute('src', scriptUrl);
        videoBarScript.setAttribute('async', false);
        document.head.appendChild(videoBarScript);
        videoBarScript.addEventListener('load', () => new SingleVideoBarSlider({{ row_id | json }}));
    } else {
        new SingleVideoBarSlider({{ row_id | json }});
    }
</script>