{% comment %}
  <!--
  Copyright (c) 2022 Single Media, Inc - ALL RIGHTS RESERVED

  NOTICE:  All information contained herein is, and remains the property of Single Media, Inc
  and its suppliers, if any. The intellectual and technical concepts contained herein are
  proprietary to Single Media, Inc and its suppliers and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law. Dissemination of this
  information or reproduction of this material is strictly forbidden unless prior
  written permission is obtained from Single Media, Inc.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
  -->
{% endcomment %}

<style>
  .hidden {
    display: none;
  }

  input:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  .single-login {
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
  }

  .single-login form {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .field {
    margin-bottom: 1em;
  }

  .accepts-marketing {
    display: inline-block;
    width: auto;
    margin-right: 0.5em;
    vertical-align: middle;
    padding-top: 10px;
  }

  .single-login .recover-links .divider {
    opacity: 0.5;
  }

  .single-login .recover-links a:hover {
    text-decoration: underline;
  }
</style>

<section class="single-login customer">
  {% comment %}
    <!-- START #form-login -->
  {% endcomment %}
  <div id="form-login" class="single-form">
    <h2 id="LoginHeading" class="text-center">{{ 'single.login.title' | t }}</h2>
    {% form 'customer_login' %}
      {% if form.errors %}
        <div class="errors">
          {{ form_errors | default_errors }}
        </div>
      {% endif %}
      <input type="hidden" name="return_to" value="PAGE_URL">
      <div class="email field">
        <input type="email" name="customer[email]" placeholder="Email">
        <label for="email">{{ 'single.login.email' | t }}</label>
      </div>
      <div class="password field">
        <input type="password" name="customer[password]" placeholder="Password">
        <label for="password">{{ 'single.login.password' | t }}</label>
      </div>
      <div class="submit">
        <input type="submit" value="{{ 'single.login.sign_in' | t }}" class="btn button single-ignore">
      </div>
    {% endform %}
    <div class="recover-links">
      <span>
        <a href="#" onclick="showRecoverForm(event)" id="ForgotPasswordLink">
          {{- 'single.login.forgot_password' | t -}}
        </a>
      </span>
      <span class="divider"> • </span>
      <span>
        <a href="#" onclick="showRegisterForm(event)" id="ShowRegister">{{ 'single.login.create_account' | t }}</a>
      </span>
    </div>
  </div>
  {% comment %}
    <!-- END #form-login -->
  {% endcomment %}

  {% comment %}
    <!-- START #form-recover -->
  {% endcomment %}
  <div id="form-recover" class="single-form hidden">
    <h2 id="LoginHeading" class="text-center">{{ 'single.recover_password.title' | t }}</h2>
    <p>{{ 'single.recover_password.subtext' | t }}</p>
    {% form 'recover_customer_password' %}
      {% if form.errors %}
        <div class="errors">
          {{ form_errors | default_errors }}
        </div>
      {% endif %}
      <input type="hidden" name="return_to" value="{{ page.url }}">
      <div class="email field">
        <input type="email" name="email" placeholder="Email">
        <label for="email">{{ 'single.login.email' | t }}</label>
      </div>
      <div class="submit">
        <input type="submit" value="{{ 'single.recover_password.submit' | t }}" class="btn button single-ignore">
      </div>
    {% endform %}
    <div class="recover-links">
      <span>
        <a href="#" onclick="showLoginForm(event)" id="CancelRecoverPassword">
          {{ 'single.recover_password.cancel' | t }}
        </a>
      </span>
    </div>
  </div>
  {% comment %}
    <!-- END #form-recover -->
  {% endcomment %}

  {% comment %}
    <!-- START #form-register -->
  {% endcomment %}
  <div id="form-register" class="single-form hidden">
    <div class="customer register">
      <svg style="display: none">
        <symbol id="icon-error" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
                fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
                fill="white" stroke="#EB001B" stroke-width="0.7">
        </symbol>
      </svg>
      <h2>{{ 'single.register.title' | t }}</h2>
      {%- form 'create_customer', novalidate: 'novalidate' -%}
        <input type="hidden" name="return_to" value="PAGE_URL">
        {%- if form.errors -%}
          <div class="errors">
            <h2 class="form__message" tabindex="-1" autofocus>
              <svg aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-error"/>
              </svg>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            <ul>
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#RegisterForm-{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="field">
          <input
                  type="text"
                  name="customer[first_name]"
                  id="RegisterForm-FirstName"
                  {% if form.first_name %}
                    value="{{ form.first_name }}"
                  {% endif %}
                  autocomplete="given-name"
                  placeholder="{{ 'single.register.first_name' | t }}"
          >
          <label for="text">{{ 'single.register.first_name' | t }}</label>
        </div>
        <div class="field">
          <input
                  type="text"
                  name="customer[last_name]"
                  id="RegisterForm-LastName"
                  {% if form.last_name %}
                    value="{{ form.last_name }}"
                  {% endif %}
                  autocomplete="family-name"
                  placeholder="{{ 'single.register.last_name' | t }}"
          >
          <label for="text">{{ 'single.register.last_name' | t }}</label>
        </div>
        <div class="field">
          <input
                  type="email"
                  name="customer[email]"
                  id="RegisterForm-email"
                  {% if form.email %}
                    value="{{ form.email }}"
                  {% endif %}
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-email-error"
                  {% endif %}
                  placeholder="{{ 'single.login.email' | t }}"
          >
          <label for="email">{{ 'single.login.email' | t }}</label>
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="form__message">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error"/>
            </svg>
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}.
          </span>
        {%- endif -%}
        <div class="field">
          <input
                  type="password"
                  name="customer[password]"
                  id="RegisterForm-password"
                  aria-required="true"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-password-error"
                  {% endif %}
                  placeholder="{{ 'single.login.password' | t }}"
          >
          <label for="password">{{ 'single.login.password' | t }}</label>
        </div>
        {%- if form.errors contains 'password' -%}
          <span id="RegisterForm-password-error" class="form__message">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error"/>
            </svg>
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}.
          </span>
        {%- endif -%}
        <div class="accepts-marketing">
          <input type="hidden" name="customer[accepts_marketing]" value="false">
          <input type="checkbox" name="customer[accepts_marketing]" checked>
          <label for="accepts-marketing">{{ 'single.register.marketing' | t }}</label>
        </div>
        <input type="hidden" id="customer_tags" name="customer[tags]" value="created_via_single">
        <div style="margin-top: 20px" class="submit">
          <input
                  type="submit"
                  value="{{ 'single.register.title' | t }}"
                  class="overlayButton single-collection-add-to-cart button add-to-cart-btn w-full btn btn-solid-primary-accent single-ignore">
        </div>
      {%- endform -%}
    </div>
    <div class="recover-links">
      <span>
        <a href="#" onclick="showLoginForm(event)" id="CancelRegister">{{ 'single.recover_password.cancel' | t }}</a>
      </span>
    </div>
  </div>
  {% comment %}
    <!-- END #form-register -->
  {% endcomment %}
</section>

<script type="text/javascript">
  function toggleForms(showFormId, hideFormIds) {
    document.getElementById(showFormId).classList.remove('hidden');
    hideFormIds.forEach((formId) => {
      document.getElementById(formId).classList.add('hidden');
    });
  }

  function showRegisterForm(event) {
    if (event) event.preventDefault();
    toggleForms('form-register', ['form-recover', 'form-login']);
  }

  function showLoginForm(event) {
    if (event) event.preventDefault();
    toggleForms('form-login', ['form-recover', 'form-register']);
  }

  function showRecoverForm(event) {
    if (event) event.preventDefault();
    toggleForms('form-recover', ['form-login', 'form-register']);
  }

  // Function to get a URL parameter by its name
  function getURLParameter(name) {
    return (
            decodeURIComponent(
                    (new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(
                            /\+/g,
                            '%20'
                    )
            ) || null
    );
  }

  document.addEventListener('DOMContentLoaded', function () {
    // Check if we should show the register form based on the URL param 'show'
    if (getURLParameter('show') === 'register') {
      showRegisterForm();
    }

    // Get the email, firstname, and lastname parameters from the URL
    const emailParam = getURLParameter('email');
    const firstNameParam = getURLParameter('first_name');
    const lastNameParam = getURLParameter('last_name');

    // Autofill the email field if the parameter exists
    if (emailParam) {
      const emailField = document.getElementById('RegisterForm-email');
      if (emailField) {
        emailField.value = emailParam;
      }
    }

    // Autofill the firstname field if the parameter exists
    if (firstNameParam) {
      const firstNameField = document.getElementById('RegisterForm-FirstName');
      if (firstNameField) {
        firstNameField.value = firstNameParam;
      }
    }

    // Autofill the lastname field if the parameter exists
    if (lastNameParam) {
      const lastNameField = document.getElementById('RegisterForm-LastName');
      if (lastNameField) {
        lastNameField.value = lastNameParam;
      }
    }
  });
</script>
