{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign explore_active = false %}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="page-width">

  {% if collection %}
    <section class="product-arrows-wrapper">
        <div id="product-arrows-left" {% unless collection.previous_product %}class="disabled"{% endunless %}>{{ '❮' | link_to: collection.previous_product }}</div>
        <div id="product-arrows-right" {% unless collection.next_product %}class="disabled"{% endunless %}>{{ '❯' | link_to: collection.next_product }}</div>
    </section>
  {% endif %}

  <div class="product grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    <div class="grid__item product__media-wrapper grid__layout_{{ section.settings.product_page_layout }}">
      <slider-component class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons slider-buttons--overlay no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ product.media.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div>
    <div class="product__info-wrapper grid__item grid__layout_{{ section.settings.product_page_layout }}">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'breadcrumb' -%}
          {% if collection %}

            {% for c in collection.products %}
              {% if c.title == product.title %}
              {% assign count = forloop.index %}
              {% endif %}
            {% endfor %}

            <div class="sup-title-wrapper">
              <span class="sup-title-collection">{{ collection.title | link_to: collection.url }}</span><span class="sup-title-type">{{ product.type }}</span><span class="sup-title-count">{{ count }} OF {{ collection.all_products_count }}</span>
            </div>

          {% else %}
            <div class="sup-title-wrapper"><span class="sup-title-type">{{ product.type }}</span></div>
          {% endif %}

          {%- when 'title' -%}
            <h1 class="product__title" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'price' -%}
            <div class="no-js-hidden product-price-wrapper" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
            </div>
            <div class="product-priceform-wrapper" {{ block.shopify_attributes }}>
              {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- when 'description' -%}
            {% capture p_description %}
              {%- if product.description != blank -%}
                <div class="product__description rte{% if block.settings.description_outside %} product__description_below{% endif %}">
                  {{ product.description }}
                </div>
              {%- endif -%}
            {% endcapture %}
            {% if block.settings.description_outside %}
              {% assign p_description_trigger = true %}
            {% else %}
              {% assign p_description_trigger = false %}
              {{ p_description }}
            {% endif %}
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion" {{ block.shopify_attributes }}>
              <details>
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="product-form-{{ section.id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
          {%- when 'share' -%}
            <share-button class="share-button" {{ block.shopify_attributes }}>
              <button class="share-button__button button button--tertiary hidden">
                {% render 'icon-share' %}
                {{ 'general.share.share' | t }}
              </button>
              <details>
                <summary class="share-button__button button button--tertiary">
                  {% render 'icon-share' %}
                  {{ 'general.share.share' | t }}
                </summary>
                <div class="share-button__fallback">
                  <div class="field">
                    <input type="text"
                          class="field__input"
                          id="url"
                          value="{{ shop.url | append: product.url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="button button--tertiary">
                    {% render 'icon-clipboard' %}
                    {{ 'general.share.copy_to_clipboard' | t }}
                  </button>
                  <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                    {{ 'general.share.success_message' | t }}
                  </span>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        {%- for value in option.values -%}
                          <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="product-form-{{ section.id }}"
                                {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

            <noscript>
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'buy_buttons' -%}
            {% capture price_inside %}
              {% if block.settings.price_inside %}
                {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: '' -%} - 
              {% endif %}
            {% endcapture %}
            <div class="{% if block.settings.price_inside %}price-inside-btn {% endif %}product-add-to-cart-btns-wrapper" {{ block.shopify_attributes }}>
              <product-form class="product-form">
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        {%- if product.selected_or_first_available_variant.available -%}
                          {{price_inside}}{{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{price_inside}}{{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>

              {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </div>
                </template>
              </pickup-availability>
            </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          
          {%- when 'explore' -%}
            {% assign explore_active = true %}
            {% if product.metafields.my_fields.artifact_explore_video_embed != blank or product.metafields.my_fields.artifact_explore_description != blank %}
              <div class="product-explore-btn">Click to explore</div>
              <div class="product-explore-popup-wrapper">
                <div class="product-explore-popup-container">
                  <div class="product-explore-x">x</div>
                  <div class="product-explore-subtext">{{ product.metafields.my_fields.artifact_explore_subheader }}</div>
                  <div class="product-explore-title">{{ product.metafields.my_fields.artifact_explore_title }}</div>
                  <div class="product-explore-video">{{ product.metafields.my_fields.artifact_explore_video_embed }}</div>
                  <div class="product-explore-description">{{ product.metafields.my_fields.artifact_explore_description }}</div>
                </div>
              </div>
            {% endif %} 
          {%- when 'buy_edition' -%}
            {% if product.metafields.my_fields.artifact_explore_buy_url != blank %}
              <div class="product-explore-buy-edition"><a href="{{ product.metafields.my_fields.artifact_explore_buy_url }}">{% if product.metafields.my_fields.artifact_button_text_overwrite != blank %}{{ my_fields.artifact_button_text_overwrite }}{% else %}BUY EDITION{% endif %}</a>
              </div>
            {% endif %}
          {%- when 'availability' -%}
            <div class="product-availability">
              <div class="product-availability-title">AVAILABILITY:</div>
              <div class="product-availability-content">{{ product.metafields.my_fields.availability }}</div>
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    {% if p_description_trigger %}
      {{ p_description }}
    {% endif %}
  </div>
  {%- render 'cart-notification' -%}

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- for media in product.media -%}
          {%- if media.media_type == 'image' -%}
            <img
              srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
                      {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
                      {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
                      {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
                      {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | img_url: '4096x' }} 4096w{%- endif -%}"
              sizes="(min-width: 750px) calc(100vw - 12rem), 100vw"
              src="{{ media.preview_image | img_url: '750x' }}"
              alt="{{ media.alt | escape }}"
              loading="lazy"
              width="1100"
              height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              data-media-id="{{ media.id }}"
            >
          {%- else -%}
            {%- if media.media_type == 'model' -%}
              <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
            {%- else -%}
              <deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
            {%- endif -%}

              <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                <span class="deferred-media__poster-button motion-reduce">
                  {%- if media.media_type == 'model' -%}
                    {%- render 'icon-3d-model' -%}
                  {%- else -%}
                    {%- render 'icon-play' -%}
                  {%- endif -%}
                </span>
                <img
                  srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                          {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
                  src="{{ media | img_url: '550x550' }}"
                  sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                  loading="lazy"
                  width="576"
                  height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                  alt="{{ media.preview_image.alt | escape }}"
                >
              </button>
              <template>
                {%- case media.media_type -%}
                {%- when 'external_video' -%}
                  {%- assign video_class = 'js-' | append: media.host -%}
                  {%- if media.host == 'youtube' -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- else -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- endif -%}
                {%- when 'video' -%}
                  {{ media | media_tag: image_size: "2048x", autoplay: true, loop: section.settings.enable_video_looping, controls: true, preload: "none", autoplay: true }}
                {%- when 'model' -%}
                  {{ media | media_tag: image_size: "2048x", toggleable: true }}
                {%- endcase -%}
              </template>

            {%- if media.media_type == 'model' -%}
                </product-model>
                <button
                  class="button button--full-width product__xr-button"
                  type="button"
                  aria-label="{{ 'products.product.xr_button_label' | t }}"
                  data-shopify-xr
                  data-shopify-model3d-id="{{ media.id }}"
                  data-shopify-title="title"
                  data-shopify-xr-hidden
                  >
                  {% render 'icon-3d-model' %}
                  {{ 'products.product.xr_button' | t }}
                </button>
              </div>
            {%- else -%}
              </deferred-media>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}


  {% assign sizechart = section.blocks | where: "type", "sizechart" %}
  {%- for block in sizechart -%}
    <h1 class="h2">{{ block.settings.page.title }}</h1>
    {{ block.settings.size_chart }}
  {%- endfor -%}  
</section>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% if section.settings.enable_addtocart_scroller %}
  <div class="addtocart-scroll-wrapper page-width">
    <div class="addtocart-scroll--left">
      <div class="addtocart-scroll--title">{{ product.title | escape }}</div>
    </div>
    <div class="addtocart-scroll--right">
      <div class="addtocart-scroll--price">{%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}</div>
      <div class="addtocart-scroll--link"><a href="#ProductInfo-{{ section.id }}" class="button button--secondary">SHOP NOW</a></div>
    </div>
  </div>
  <style>
    .addtocart-scroll-wrapper{
      display: none;
      position: fixed;
      width: 100%;
      background-color: white;
      top: 0;
      z-index: 9;
      color: black;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0px 5px 10px -10px #000000;
      max-width: unset;
    }
    .addtocart-scroll--left{
      display: inline-block;
      width: calc(50% - 3px);
      text-align: left;
      vertical-align: middle;
    }
    .addtocart-scroll--right{
      display: inline-block;
      width: calc(50% - 3px);
      text-align: right;
      vertical-align: middle;
    }
    .addtocart-scroll-wrapper > div > div{
      display: inline-block;
    }
    .addtocart-scroll-wrapper .addtocart-scroll--title{
      text-align: left;
    }
    .addtocart-scroll-wrapper .addtocart-scroll--price{
      text-align: right;
      vertical-align: middle;
    }
    .addtocart-scroll-wrapper .addtocart-scroll--price .price-item{
      color: black;
    }
    .addtocart-scroll-wrapper .addtocart-scroll--link{
      text-align: right;
    }
  </style>
{% endif %}

  <script>
    var onlyOnceChecker = true;
    $(window).on('scroll',function(){


        var $home = $('#ProductInfo-{{ section.id }}');
        var divBottom     = $home.offset().top + $home.height(); 
        var windowTop    = $(window).scrollTop();

      if ((divBottom - 200) >= windowTop) {
          $('.product-arrows-wrapper').show();
      } else {
          $('.product-arrows-wrapper').hide();
      }

      {% if section.settings.enable_addtocart_scroller %}
        if(onlyOnceChecker && $('.header-wrapper').hasClass('header-wrapper-fixed')){
          var heightCalcfixed = $('.header-wrapper').outerHeight() - 1;
          $('.addtocart-scroll-wrapper').css('top',heightCalcfixed+'px');
          onlyOnceChecker = false;
        }
        else{onlyOnceChecker = false;}

        if($('#shopify-section-header').hasClass('shopify-section-header-sticky') && $('#shopify-section-header').hasClass('shopify-section-header-hidden')){
          $('.addtocart-scroll-wrapper').css('top','0px');
        }
        else{
          var heightCalcfixed = $('.header-wrapper').outerHeight() - 1;
          $('.addtocart-scroll-wrapper').css('top',heightCalcfixed+'px');
        }

        if (divBottom >= windowTop) {
            $('.addtocart-scroll-wrapper').slideUp();
        } else {
            $('.addtocart-scroll-wrapper').slideDown();
        }
      });
    {% endif %}

  </script>


  {% if section.settings.product_page_layout == '1__2' %}
    <style>
      @media only screen and (min-width: 750px) {
        #MainContent .product > .grid__item.grid__layout_1__2 {
          width: 50%;
          max-width: unset;
          float: left;
        }  
      }
    </style>
  {% elsif section.settings.product_page_layout == '3__4' %}
    <style>

    </style>
  {% elsif section.settings.product_page_layout == 'stacked' %}
    <style>
      @media only screen and (min-width: 750px) {
        #MainContent .product > .grid__item{
          width: 100%;
          max-width: unset;
          padding: 0;
          text-align: center;
        }
        #MainContent .product ul.product__media-list{
          display: inline-block;
          width: 100%;
          margin-bottom: 50px;
        }
        #MainContent .product .product__description{
          text-align: left;
        }
        #MainContent .product .product__title{
          text-transform: uppercase;
        }
        #MainContent .product ul.product__media-list > li.product__media-item{
          width: calc(25% - 50px);
              display: inline-block;
          flex-grow: unset;
          flex-shrink: unset;
          scroll-snap-align: unset;
        }
        #MainContent .product ul.product__media-list > li.product__media-item:first-child{
          width: 100%;
          margin-bottom: 50px;
        }
        .product-priceform-wrapper{
          display: none;
        }
        .product-price-wrapper, variant-selects, .product-form__quantity, .product-add-to-cart-btns-wrapper{
          width: calc(50% - 3px);
          display: inline-block;
          vertical-align: middle;
          text-align: center;
        }
        quantity-input.quantity{
          margin: 0 auto;
        }
      }
      @media (max-width:992px) and (min-width:750px) {
        .product .price{
          align-items: center;
          justify-content: center;
        }
      }
      @media only screen and (min-width: 992px) {
        #MainContent .product ul.product__media-list > li.product__media-item{
          width: calc(25% - 100px);
        }
        .product-price-wrapper, variant-selects, .product-form__quantity, .product-add-to-cart-btns-wrapper{
          width: calc(25% - 2px);
        }
      }
    </style>
  {% endif %}

{% if explore_active %}
  <style>
    .product__info-container--sticky{
      z-index: 6;
    }
    .product-explore-btn{
      cursor: pointer;
    }
    .product-explore-btn:before{
      content: "+";
      font-size: 25px;
      border-radius: 100%;
      color: #ffffff;
      background-color: #af1111;
      padding: 0px 10px;
      margin-right: 10px;
    }
    .product-explore-btn:hover{
      color: white;
    }
    .product-explore-btn:hover:before{
      box-shadow: 0px 0px 2px 4px #af11118c;
      animation: pulse-black 2s infinite;
    }
    .product-explore-popup-wrapper{
      display: none;
      background: #f5f5f5;
      color: black;
      font-size: 12px;
      position: absolute;
      top: 0px;
      margin: 0;
      padding: 50px;
      width: 100%;
      z-index: 9;
    }
    .product-explore-x{
      cursor: pointer;
      font-size: 40px;
      top: 0px;
      position: absolute;
      right: 20px;
      color: #5d5d5d;
    }
    .product-explore-x:hover{
      color: black;
    }
    .product-explore-subtext{
      font-size: 13px;
      letter-spacing: 2px;
    }
    .product-explore-title{
      font-size: 40px;
      font-weight: bold;
      line-height: 36px;
      margin: 10px 0 0;
    }
    .product-explore-video iframe{
      width: 100%!important;
    }
    @media only screen and (max-width: 768px) {
      .product-explore-popup-wrapper{
        position: fixed;
        overflow: scroll;
        height: 100vh;
        padding: 70px 35px 10px 20px;
      }
      .product-explore-video iframe{
        height: 450px!important;
        margin: 20px 0;
      }
      .product-explore-x{
        right: 30px;
      }
    }
    @media only screen and (max-width: 501px) {
      .product-explore-video iframe{
        height: 250px!important;
      }
    }
    @keyframes pulse-black {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(175, 17, 17, 0.7);
      }
      
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(175, 17, 17, 0);
      }
      
      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(175, 17, 17, 0);
      }
    }
  </style>
  <script>
  $( document ).ready(function() {
    $( '.product-explore-btn' ).click(function() {
      $('.product-explore-popup-wrapper').slideDown();
    });
    $( '.product-explore-x' ).click(function() {
      $('.product-explore-popup-wrapper').slideUp();
    });
  });
  </script>
{% endif %}

<style>
  ul.product__media-list.grid.grid--peek.list-unstyled.slider.slider--mobile{
    margin: 0!important;
  }
  .page-width{
    padding: 0 50px;
  }
  .product-arrows-wrapper #product-arrows-left, 
  .product-arrows-wrapper #product-arrows-right{
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
  }
  .product-arrows-wrapper #product-arrows-left a, 
  .product-arrows-wrapper #product-arrows-right a{
    color: black;
    text-decoration: none;
  }
  .product-arrows-wrapper #product-arrows-left.disabled a,
  .product-arrows-wrapper #product-arrows-right.disabled a{
    cursor: not-allowed;
    color: grey;
    pointer-events: none;
  }
  .product-arrows-wrapper #product-arrows-left{
    left: 15px;
  }
  .product-arrows-wrapper #product-arrows-right{
    right: 15px;
  }
  .sup-title-wrapper {
    text-transform: uppercase;
    font-size: 20px;
  }
  .sup-title-wrapper .sup-title-collection a{
    text-decoration: none;
  }
  .sup-title-wrapper .sup-title-collection:after {
    content: '/';
    color: #000;
    margin: 0 5px;
  }
  .sup-title-wrapper .sup-title-type {
    color: yellow;
  }
  .sup-title-wrapper .sup-title-type a {
    color: yellow;
  }
  .sup-title-wrapper .sup-title-type:after {
    content: '/';
    color: #000;
    margin: 0 5px;
  }
  .sup-title-wrapper .sup-title-count {
    color: #c0c0c0;
  }
  
  /* explore button css */
  .product-explore-buy-edition{
    margin: 50px 0 10px;
  }
  .product-explore-buy-edition a{
    padding: 20px 30px;
    letter-spacing: 4px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    border: 1px solid #af1111;
  }
  .product-explore-buy-edition a:hover{
    background-color: #af1111;
    color: white;
  }

  /* default template css */
  .product__title{
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 50px;
    margin-top: 0;
    padding-top: 0;
  }
  .product__text.subtitle{
    margin: 0 0 20px;
    padding: 0;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    line-height: 10px;
  }
  .product__info-container .product-form__input{
    border-top: 1px solid;
    text-transform: uppercase;
    padding: 10px 10px 0;
    max-width: 100%;
  }
  .product__info-container .product-form__input.product-form__quantity{
    border-bottom: 1px solid;
    padding-bottom: 25px;
  }
  .product__info-container .product-form__input label{
    display: inline-block;
    width: 40%;
    max-width: 100%;
    letter-spacing: 2px;
    font-size: 16px;
  }
  .product__info-container .product-form__input .select{
    display: inline-block;
    width: calc(60% - 7px);
    max-width: 100%;
  }
  .product__info-container .product-form__input .quantity{
    float: right;
    width: calc(60% - (7px + 1.5rem));
    max-width: 100%;
    margin: 0 0 0 1.5rem;
  }
  .product__info-container .product-form__input .select > select{
    box-shadow: unset;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .product-availability .product-availability-title{
    font-weight: bold;
  }
  .product__description_below{
    margin: 40px 0 5px;
    background-image: linear-gradient(#000000, #000000), linear-gradient(#000000, #000000), linear-gradient(#000000, #000000), linear-gradient(#000000, #000000);
    background-repeat: no-repeat;
    background-size: 20px 3px;
    background-position: top left, top right, bottom left, bottom right;
    border: solid #000000;
    border-width: 0 3px;
    display: inline-block;
    padding: 10px 20px;
  }
</style>

{% comment %} - UNLESS CONTENT BELOW ONLY FOR DEFAULT TEMPLATE - {% endcomment %}
{% unless template contains '.' %}
<style>
  .product-recommendations__heading{
    text-align: center;
    color: black;
  }
  .product-recommendations .grid li.grid__item > .card-wrapper{
    text-align: center;
    padding: 20px;
  }
  .product-recommendations .grid li.grid__item > .card-wrapper a{
    color: black;
    text-decoration: none;
  }
  .product-recommendations .grid li.grid__item > .card-wrapper .card-information__text{
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
  }
  .product-recommendations .grid li.grid__item > .card-wrapper .price{
    justify-content: center;
  }
  .product-recommendations .grid li.grid__item > .card-wrapper:hover{
    background-color: #00000045;
    box-shadow: 5px 5px 0 0 #ffffff;
  }


  body .product__info-container *:not(.product-form__submit):not(.price-item):not(.field__input):not(.field__label):not(.button):not(.icon):not(path){
    color: black!important;
    border-color: black!important;
  }
  body #MainContent .product .product__info-container share-button span.share-button__message{
    color: white!important;
  }
  .product__description_below{
    color: black;
  }
  s.price-item.price-item--regular{
    color: #555;
  }
  .product-form__submit{
    background-color: black;
    text-transform: uppercase;
  }
  .product-form__submit:hover{
    background-color: #202020;
  }
  @media screen and (min-width: 750px){
    .product__media-list .product__media-item{
      padding: 20px;
    }
    .product__media-list .product__media-item modal-opener{
      box-shadow: -5px 5px 5px -2px #424242;
    }
    .product__media-list .product__media-item modal-opener:hover{
      box-shadow: unset;
    }
    .product__media-list .product__media-item:first-child{
      padding: 0;
    }
    .grid--2-col-tablet .grid__item {
      width: calc(25% - 1rem / 2);
    }
    .product__media-item:first-child {
      width: 100%;
    }
  }
</style>
{% endunless %}

<script>
  $( document ).ready(function() {
    $( '.product-explore-btn' ).click(function() {
      $('.product-explore-popup-wrapper').slideDown();
    });
    $( '.product-explore-x' ).click(function() {
      $('.product-explore-popup-wrapper').slideUp();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "price_inside",
          "default": true,
          "label": "Price inside button",
          "info": "Price will display inside the add to cart button"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "description_outside",
          "default": true,
          "label": "Description move below content",
          "info": "Description moves outside columns & below product content"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "sizechart",
      "name": "size chart",
      "settings": [    
        {
          "type": "text",
          "id": "size_chart",
          "label": "Size Chart",
          "default": "Welcome to my Section"
        }
      ]
    },
    {
      "type": "explore",
      "name": "Expore Button & popup",
      "limit": 1,
      "settings": [
      ]
    }, 
    {
      "type": "buy_edition",
      "name": "Expore Buy Edition",
      "limit": 1,
      "settings": [
      ]
    },
    {
      "type": "breadcrumb",
      "name": "Breadcrumb",
      "limit": 1,
      "settings": [
      ]
    },
    {
      "type": "availability",
      "name": "Availability",
      "limit": 1,
      "settings": [
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    } 
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "checkbox",
      "id": "enable_addtocart_scroller",
      "default": true,
      "label": "Adds a scoll to product",
      "info": "useful for mobile when content is at the top"
    },
    {
      "type": "select",
      "id": "product_page_layout",
      "label": "Product page layout options",
      "options": [
        {
          "value": "1__2",
          "label": "half width"
        },
        {
          "value": "3__4",
          "label": "three quarters width"
        },        
        {
          "value": "stacked",
          "label": "stacked"
        }
      ]
    }
  ]
}
{% endschema %}
