  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">


<div class="slider" >
    <!-- Indicators -->
  
  
        {% for block in section.blocks %}   
          <div class="item slide-{{ forloop.index }} {% if forloop.first == true %}active{% endif %}">
            <img class="desktop-image" src="{{ block.settings.desktop-img | img_url: 'master' }}" alt="">
            {% if block.settings.mobile-img != blank %}
                <img class="mobile-image" src="{{ block.settings.mobile-img | img_url: 'master' }}" alt="">
            {% endif %}
          </div>
        {% endfor %}
  
  </div>
  
  <style>
      .slider img {
          width:100%;
      }
    .slider .mobile-image {
        display: none;
    }
    .slick-next:before, .slick-prev:before {
      display: none;
    }
  @media (max-width:768px) {
    .slider .mobile-image {
        display: block;
    }
    .slider .desktop-image {
        display: none;
    }
  }
  </style> 
  

<script>
  $( document ).ready(function() {
    $('.slider').slick({
        adaptiveHeight: true,
        prevArrow:"<button type='button' class='slick-prev pull-left'><img src='{{ 'left-arrow.png' | asset_url }}' ></button>",
        nextArrow:"<button type='button' class='slick-next pull-right'><img src='{{ 'right-arrow.png' | asset_url }}' ></button>"
    });
  });

</script>

{% schema %} 
{
  "name": "OLM Slider",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
  ],
  "blocks": [ 
    {
        "type": "select",
        "name": "Slider",
        "settings": [
            {
                "type": "image_picker",
                "id": "desktop-img",
                "label": "Desktop Image"
            },
            {
                "type": "image_picker",
                "id": "mobile-img",
                "label": "Mobile image"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "OLM Slider"
    }
  ]  
}
{% endschema %}
