{{ 'section-olm-carousel-gallery.css' | asset_url | stylesheet_tag }}

{% if section.settings.slider_animation == "fade" %}
  {% assign sliderAnimation = true %}
{% else %}
  {% assign sliderAnimation = false %}
{% endif %}
{% comment %} data-aos="fade-up" {% endcomment %}
<div class="banner-wrapper-carousel{% if section.settings.page_width %} page-width{% endif %}">
  <div{% if section.settings.image_background != blank %} style="background-image: url({{section.settings.image_background | img_url: 'master'}});"{% endif %} id="Banner-{{ section.id }}" class="banner{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank%} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}">
    <div class="{% if section.settings.title == blank %}title-wrapper-with-link--no-heading{% endif %}">
      {% if section.settings.image_title != blank %}
        <h2 class="title">
          {{ section.settings.image_title | img_url: 'master' | img_tag: section.settings.image_title.alt, 'carousel-gallery-heading--image' }}
        </h2>
      {% else %}
        <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>
      {% endif %}
    </div>
    {% comment %} <slider-component class="slider-mobile-gutter"> {% endcomment %}
    {% comment %} collection-list grid grid--1-col{% if section.blocks.size < 5 %} grid--{{ section.blocks.size }}-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %} collection-list--{{ section.blocks.size }}-items{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} negative-margin--small{% endif %} {% endcomment %}
      <div class="slider-blocks-wrapper" id="Slider-{{ section.id }}" role="list" data-speed="{{section.settings.slider_speed}}000" data-fade="{{sliderAnimation}}" data-adaptiveHeight="{{section.settings.slider_adaptiveHeight}}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'collection_picker' -%}
            <div class="carousel-gallery--item carousel-gallery-collection">
              <a {% if block.settings.collection_pick.url != blank %}href="{{ block.settings.collection_pick.url }}"{% endif %} class="carousel-gallery--link carousel-gallery-collection--link">
              {% if block.settings.collection_pick_override_image != blank %}
                {{ block.settings.collection_pick_override_image | img_url: 'master' | img_tag: block.settings.collection_pick_override_image.alt, 'carousel-gallery--image carousel-gallery-product--image' }}
              {% else %}
                {{ block.settings.collection_pick.featured_image | img_url: 'master' | img_tag: block.settings.collection_pick.featured_image.alt, 'carousel-gallery--image carousel-gallery-collection--image' }}
              {% endif %}
              <div class="carousel-gallery--text carousel-gallery-collection--text">{{ block.settings.collection_pick.title }}</div>
              </a>
            </div>
          {%- when 'product_picker' -%}
            <div class="carousel-gallery--item carousel-gallery-product--item">
              <a {% if block.settings.product_pick.url != blank %}href="{{ block.settings.product_pick.url }}"{% endif %} class="carousel-gallery--link carousel-gallery-product--link">
              {% if block.settings.product_pick_override_image != blank %}
                {{ block.settings.product_pick_override_image | img_url: 'master' | img_tag: block.settings.product_pick_override_image.alt, 'carousel-gallery--image carousel-gallery-product--image' }}
              {% else %}
                {{ block.settings.product_pick.featured_image | img_url: 'master' | img_tag: block.settings.product_pick.featured_image.alt, 'carousel-gallery--image carousel-gallery-product--image' }}
              {% endif %}
              <div class="carousel-gallery--text carousel-gallery-product--text">{{ block.settings.product_pick.title }}</div>
              </a>
            </div>
          {%- when 'image_picker' -%}
            <div class="carousel-gallery--item carousel-gallery-image--item">
              <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="carousel-gallery--link carousel-gallery-image--link">
              {{ block.settings.image | img_url: 'master' | img_tag: block.settings.image.alt, 'carousel-gallery--image carousel-gallery-image--image' }}
              <div class="carousel-gallery--text carousel-gallery-image--text">{{ block.settings.title }}</div>
              </a>
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {% comment %} </slider-component> {% endcomment %}
  </div>
</div>

<style>
{% if section.settings.image_title_width != blank %}#Banner-{{ section.id }} .carousel-gallery-heading--image{width:{{ section.settings.image_title_width }};}{% endif %}
  #Banner-{{ section.id }}{
    display: none;
    min-height: unset;
    background-position: {{ section.settings.site-background-image-position }};
    background-size: {{ section.settings.site-background-image-size }};
    background-repeat: {{ section.settings.site-background-image-repeat }};
    background-attachment: {{ section.settings.site-background-image-attachment }};
    flex-direction: unset;
    width: 100%;
    padding: 50px;
    border: 1px solid #ffffff;
  }
  {% if section.settings.margin_top != blank %}
    .banner-wrapper-carousel {
      margin-top:{{ section.settings.margin_top }}!important;
    }
  {% endif %}
  {% if section.settings.margin_bottom != blank %}
    .banner-wrapper-carousel {
      margin-bottom:{{ section.settings.margin_bottom }}!important;
    }
  {% endif %}
  #Banner-{{ section.id }} .carousel-gallery--item {
      /*display: inline-block;
      width: calc(33.33% - 50px);
      margin: 0 25px;*/
      vertical-align: middle;
      position: relative;
      line-height: 0;
  }
  {% if section.settings.enble-borders %}
  .carousel-gallery--item {
    {% if section.settings.border-width != blank %}
      border-width:{{ section.settings.border-width }};
    {% endif %}

    
    {% if section.settings.border-style != blank %}
      border-style:{{ section.settings.border-style }};
    {% endif %}
    {% if section.settings.border-color != blank %}
      border-color:{{ section.settings.border-color }};
    {% endif %}
  }
  {% endif %}
  #Banner-{{ section.id }} .carousel-gallery--item img{
      width: 100%;
  }
  #Banner-{{ section.id }} .carousel-gallery--text {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  #Banner-{{ section.id }} .carousel-gallery--item:hover a.carousel-gallery--link:before{
    content: "";
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  #Banner-{{ section.id }} .carousel-gallery--item:hover .carousel-gallery--text{
    display: block;
  }
  #Banner-{{ section.id }} .carousel-gallery--item a.carousel-gallery--link{
    display: block;
    color: white;
  }
  .carousel-gallery--text.carousel-gallery-image--text {
    line-height: normal;
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    #Banner-{{ section.id }} .carousel-gallery--item a.carousel-gallery--link{
      text-decoration: none;
    }
    #Banner-{{ section.id }} .carousel-gallery--text{
      display: block;
      position: unset;
      text-align: center;
      top: 0;
      left: 0;
      transform: translate(0%,0%);
      line-height: 20px;
      font-size: 18px;
      margin: 10px auto;
    }
    #Banner-template--{{ section.id }} .slick-slide {
        padding: 0;
    }
    #Banner-template--{{ section.id }} button.slick-arrow.slick-prev {
        left: -40px;
    }
    #Banner-template--{{ section.id }}  button.slick-arrow.slick-next {
        right: -35px;
    } 
    
    #Banner-{{ section.id }} {
      background-image: url({{ section.settings.image_background_mobile | img_url: 'master' }}) !important;
    }
    {% if section.settings.image_background_mobile != blank %}         
    {% endif %}
  }
</style>
	

<style>
  #Banner-{{ section.id }} .slick-slide{
    padding: 0 25px;
    vertical-align: middle;
    display: inline-block!important;
    float: none;
  }
  #Banner-{{ section.id }} button.slick-arrow.slick-prev{
    left: -10px;
  }
  #Banner-{{ section.id }} button.slick-arrow.slick-next{
    right: -5px;
  }
  #Banner-{{ section.id }} .slick-prev:before{
    content: "\f053";
    font-size: 40px;
  }
  #Banner-{{ section.id }} .slick-next:before{
    content: "\f054";
    font-size: 40px;
  }
  #Banner-{{ section.id }} .slick-slide img, #Banner-{{ section.id }} .carousel-gallery--item:hover a.carousel-gallery--link:before {
    border: 1px solid;
  }
</style>

{%- assign min = 0 -%}
{%- assign max = 9999999999 -%}
{%- assign diff = max | minus: min -%}
{%- assign random_number = "now" | date: "%N" | modulo: diff | plus: min -%}
<script>
  $( document ).ready(function() {
    carousel_gallery_{{ random_number }}.init();
  });
  var carousel_gallery_{{ random_number }} = {
    init: function(){
      var slider_speed_gallery_{{ random_number }} = $('#Banner-{{ section.id }} .slider-blocks-wrapper').attr("data-speed");
      var sliderAnimation_gallery_{{ random_number }} = $('#Banner-{{ section.id }} .slider-blocks-wrapper').attr("data-fade");
      var slider_adaptiveHeight_gallery_{{ random_number }} = $('#Banner-{{ section.id }} .slider-blocks-wrapper').attr("data-adaptiveHeight");
      $('#Banner-{{ section.id }} .slider-blocks-wrapper').slick({
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: false,
        arrows: true,
        autoplaySpeed: parseInt(slider_speed_gallery_{{ random_number }}),
        fade: JSON.parse(sliderAnimation_gallery_{{ random_number }}),
        adaptiveHeight: JSON.parse(slider_adaptiveHeight_gallery_{{ random_number }}),
        cssEase: 'linear',
        responsive: [
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
      $('#Banner-{{ section.id }}').show();
    }
  }
  function process_init_event_gallery_{{ random_number }}(){
    carousel_gallery_{{ random_number }}.init();
  }
  $(document).on('shopify:section:load', process_init_event_gallery_{{ random_number }} )
</script>

{% schema %} 
{
  "name": "OLM Carousel Gallery",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Constrain to page width" 
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin top"
    },
    { 
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin bottom"
    },
    {
      "type": "select",
      "id": "slider_animation",
      "label": "Slider transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "label": "Change slides every",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "id": "slider_adaptiveHeight",
      "label": "Enable adaptive height",
      "info": "Slider will adjust based on height of individual slides"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Featured gallery",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "image_picker",
      "id": "image_title",
      "label": "Title image",
      "info": "replaces heading text"
    },
    {
      "type": "text",
      "id": "image_title_width",
      "label": "Title image width",
      "info": "use % or px"
    },
    {
      "type": "image_picker",
      "id": "image_background",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image_background_mobile",
      "label": "Mobile Background Image"
    },    
    {
      "type": "checkbox",
      "id": "enble-borders",
      "label": "Add border around items" 
    },
    
    {
      "type": "text",
      "id": "border-width",
      "label": "Border width use px"  
    },
    {
      "type":"paragraph",
      "content": "Need help with choosing a border style? [Learn more](https://www.w3schools.com/css/css_border.asp)."
    },
    {
      "type": "text",
      "id": "border-style",
      "label": "Border style" 
    },
    {
      "type": "text",
      "id": "border-color",
      "label": "Border color use hex #" 
    },
    {
      "type": "select",
      "id": "site-background-image-position",
      "label": "Site background image position",
      "options": [
        {
          "value": "left top",
          "label": "left top"
        },
        {
          "value": "left center",
          "label": "left center"
        },
        {
          "value": "left bottom",
          "label": "left bottom"
        },
        {
          "value": "right top",
          "label": "right top"
        },
        {
          "value": "right center",
          "label": "right center"
        },
        {
          "value": "right bottom",
          "label": "right bottom"
        },
        {
          "value": "center top",
          "label": "center top"
        },
        {
          "value": "center center",
          "label": "center center"
        },
        {
          "value": "center bottom",
          "label": "center bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "site-background-image-size",
      "label": "Site background image size",
      "options": [
        {
          "value": "auto",
          "label": "auto"
        },
        {
          "value": "100% auto",
          "label": "100% auto"
        },
        {
          "value": "contain",
          "label": "contain"
        },
        {
          "value": "cover",
          "label": "cover"
        }
      ]
    },
    {
      "type": "select",
      "id": "site-background-image-repeat",
      "label": "Site background image repeat",
      "options": [
        {
          "value": "repeat",
          "label": "repeat"
        },
        {
          "value": "repeat-x",
          "label": "repeat-x"
        },
        {
          "value": "repeat-y",
          "label": "repeat-y"
        },
        {
          "value": "no-repeat",
          "label": "no-repeat"
        },
        {
          "value": "inherit",
          "label": "inherit"
        }
      ]
    },
    {
      "type": "select",
      "id": "site-background-image-attachment",
      "label": "Site background image attachment",
      "options": [
        {
          "value": "scroll",
          "label": "scroll"
        },
        {
          "value": "fixed",
          "label": "fixed"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection_picker",
      "name": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection_pick",
          "label": "collection"
        },
        {
          "type": "image_picker",
          "id": "collection_pick_override_image",
          "label": "Collection image override"
        }  
      ]
    },
    {
      "type": "product_picker",
      "name": "product",
      "settings": [
        {
          "type": "product",
          "id": "product_pick",
          "label": "Pick a product"
        },
        {
          "type": "image_picker",
          "id": "product_pick_override_image",
          "label": "Product image override"
        }        
      ]
    },
    {
      "type": "image_picker",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image block"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text for image block"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link for image block"
        }
      ]
    }    
  ],
  "presets": [
    {
      "name": "OLM Carousel Gallery"
    }
  ]  
}
{% endschema %}