<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">

{% if section.settings.slider_animation == "fade" %}
  {% assign sliderAnimation = true %}
{% else %}
  {% assign sliderAnimation = false %}
{% endif %}
{%- assign collection = collections[section.settings.collection_pick] -%}
<div data-aos="fade-up">
  <div style="background-image: url({{section.settings.image_background | img_url: 'master'}});" id="Banner-{{ section.id }}" class="banner{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank%} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %} {% if section.settings.page_width %}page-width add-pad{% endif %}">
    <div class="{% unless section.settings.page_width %}page-width{% endunless %} page-width">
      <div class="{% if section.settings.title == blank %}title-wrapper-with-link--no-heading{% endif %}">
        {% if section.settings.image_title != blank %}
          <h2 class="title">
            {{ section.settings.image_title | img_url: 'master' | img_tag: section.settings.image_title.alt, 'carousel-gallery-heading--image' }}
          </h2>
        {% else %}
          <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>
        {% endif %}
      </div>
      {% comment %} <slider-component class="slider-mobile-gutter"> {% endcomment %}
      {% comment %} collection-list grid grid--1-col{% if section.blocks.size < 5 %} grid--{{ section.blocks.size }}-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %} collection-list--{{ section.blocks.size }}-items{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} negative-margin--small{% endif %} {% endcomment %}
        <div class="slider-blocks-wrapper" id="Slider-{{ section.id }}" role="list" data-speed="{{section.settings.slider_speed}}000" data-fade="{{sliderAnimation}}" data-adaptiveHeight="{{section.settings.slider_adaptiveHeight}}">
          {%- for product in collection.products limit: section.settings.collection_pick_limit -%}
            <div class="carousel-gallery--item">
              <a href="{{ product.url }}" class="carousel-gallery--link">
                {{ product.featured_image | img_url: 'master' | img_tag: product.featured_image.alt, 'carousel-gallery--image' }}
                <div class="carousel-gallery--hover_wrapper">
                  <div class="carousel-gallery--title">{{ product.title }}</div>
                  {% render 'price', product: product, price_class: '' %}
                </div>
              </a>
            </div>
          {%- endfor -%}
        </div>
      {% comment %} </slider-component> {% endcomment %}
      {% if section.settings.view_all != blank %}
      <a href="{{ collection.url }}" title="{{ collection.title }}" class="carousel-view-all">VIEW ALL</a>
      {% endif %}
    </div> {% comment %}page-width{% endcomment %}
  </div>
</div>
<style>
{% if section.settings.image_title_width != blank %}#Banner-{{ section.id }} .carousel-gallery-heading--image{width:{{ section.settings.image_title_width }};}{% endif %}
{% if section.settings.text_color_overwrite != blank %}
#Banner-{{ section.id }} h2.title{color:{{ section.settings.text_color_overwrite }}!important;}
#Banner-{{ section.id }} .slick-next:before, #Banner-{{ section.id }} .slick-prev:before{color:{{ section.settings.text_color_overwrite }}!important;}
#Banner-{{ section.id }} a.carousel-view-all{color:{{ section.settings.text_color_overwrite }}!important;}
{% endif %}
  #Banner-{{ section.id }}{
    display: none;
    min-height: unset;
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: {{ section.settings.site-background-image-position }};
    background-size: {{ section.settings.site-background-image-size }};
    background-repeat: {{ section.settings.site-background-image-repeat }};
    background-attachment: {{ section.settings.site-background-image-attachment }};
    flex-direction: unset;
    width: 100%;
  }
  #Banner-{{ section.id }} .carousel-gallery--item {
      vertical-align: middle;
      position: relative;
      text-align: center;
      line-height: 20px;
  }
  #Banner-{{ section.id }} .carousel-gallery--item img{
      width: 100%;
  }

  #Banner-{{ section.id }} .carousel-gallery--hover_wrapper {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  #Banner-{{ section.id }} .carousel-gallery--item:hover a.carousel-gallery--link:before{
    content: "";
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  #Banner-{{ section.id }} .carousel-gallery--hover_wrapper .price{
    text-align: center;
    line-height: normal; 
    display: block;
    margin: 10px 0 0;
  }
  #Banner-{{ section.id }} .carousel-gallery--hover_wrapper .price dd{
    margin: 0;
  }
  #Banner-{{ section.id }} .carousel-gallery--item:hover .carousel-gallery--hover_wrapper{
    display: block;
  }
  #Banner-{{ section.id }} .carousel-gallery--item a.carousel-gallery--link{
    display: block;
    color: white;
  }
  #Banner-{{ section.id }} a.carousel-view-all{
    text-align: right;
    display: block;
    margin: 20px 25px 0;
    text-decoration: none;
    font-weight: bold;
  }
  @media only screen and (max-width: 768px) {
    #Banner-{{ section.id }} .carousel-gallery--item a.carousel-gallery--link{
      text-decoration: none;
    }
    #Banner-{{ section.id }} .carousel-gallery--hover_wrapper{
      display: block;
      position: unset;
      text-align: center;
      top: 0;
      left: 0;
      transform: translate(0%,0%);
      line-height: 20px;
      font-size: 18px;
      margin: 10px auto;
    }
    #Banner-{{ section.id }} .carousel-gallery--title{color:{{ section.settings.text_color_overwrite }}!important;}
    #Banner-{{ section.id }} .price{color:{{ section.settings.text_color_overwrite }}!important;}
  }
</style>
	
<style>
  #Banner-{{ section.id }} .slick-slide{
    padding: 0 10px;
    vertical-align: middle;
    display: inline-block!important;
    float: none;
  }
  #Banner-{{ section.id }} button.slick-arrow.slick-prev{
    left: -20px;
  }
  #Banner-{{ section.id }} button.slick-arrow.slick-next{
    right: -15px;
  }
  #Banner-{{ section.id }} .slick-prev:before{
    content: "\f053";
    font-size: 40px;
  }
  #Banner-{{ section.id }} .slick-next:before{
    content: "\f054";
    font-size: 40px;
  }
  #Banner-{{ section.id }} .slick-next, #Banner-{{ section.id }} .slick-prev{
    height: auto;
    width: auto;
  }
</style>

{%- assign min = 0 -%}
{%- assign max = 9999999999 -%}
{%- assign diff = max | minus: min -%}
{%- assign random_number = "now" | date: "%N" | modulo: diff | plus: min -%}
<script>
  $( document ).ready(function() {
    carousel_collection_{{ random_number }}.init();
  });

  var carousel_collection_{{ random_number }} = {
    init: function(){
      var slider_speed_collection = $('#Banner-{{ section.id }} .slider-blocks-wrapper').attr("data-speed");
      var sliderAnimation_collection = $('#Banner-{{ section.id }} .slider-blocks-wrapper').attr("data-fade");
      var slider_adaptiveHeight_collection = $('#Banner-{{ section.id }} .slider-blocks-wrapper').attr("data-adaptiveHeight");
      $('#Banner-{{ section.id }} .slider-blocks-wrapper').slick({
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: false,
        arrows: true,
        autoplaySpeed: parseInt(slider_speed_collection),
        fade: JSON.parse(sliderAnimation_collection),
        adaptiveHeight: JSON.parse(slider_adaptiveHeight_collection),
        cssEase: 'linear',
        responsive: [
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
      $('#Banner-{{ section.id }}').show();
    }
  }

  function process_init_event_collection_{{ random_number }}(){
    carousel_collection_{{ random_number }}.init();
  }
  $(document).on('shopify:section:load', process_init_event_collection_{{ random_number }} )
</script>

{% schema %} 
{
  "name": "OLM Carousel Collection",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Constrain to page width" 
    },
    {
      "type": "collection",
      "id": "collection_pick",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "collection_pick_limit",
      "label": "Product limits",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "prd"
    },
    {
      "type": "select",
      "id": "slider_animation",
      "label": "Slider transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "label": "Change slides every",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "id": "slider_adaptiveHeight",
      "label": "Enable adaptive height",
      "info": "Slider will adjust based on height of individual slides"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Featured gallery",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "image_picker",
      "id": "image_title",
      "label": "Title image",
      "info": "replaces heading text"
    },
    {
      "type": "color",
      "id": "text_color_overwrite",
      "label": "Text color overwrite"
    },
    {
      "type": "text",
      "id": "image_title_width",
      "label": "Title image width",
      "info": "use % or px"
    },
    {
      "type": "checkbox",
      "id": "view_all",
      "label": "Show view all?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image_background",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "site-background-image-position",
      "label": "Site background image position",
      "options": [
        {
          "value": "left top",
          "label": "left top"
        },
        {
          "value": "left center",
          "label": "left center"
        },
        {
          "value": "left bottom",
          "label": "left bottom"
        },
        {
          "value": "right top",
          "label": "right top"
        },
        {
          "value": "right center",
          "label": "right center"
        },
        {
          "value": "right bottom",
          "label": "right bottom"
        },
        {
          "value": "center top",
          "label": "center top"
        },
        {
          "value": "center center",
          "label": "center center"
        },
        {
          "value": "center bottom",
          "label": "center bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "site-background-image-size",
      "label": "Site background image size",
      "options": [
        {
          "value": "auto",
          "label": "auto"
        },
        {
          "value": "100% auto",
          "label": "100% auto"
        },
        {
          "value": "contain",
          "label": "contain"
        },
        {
          "value": "cover",
          "label": "cover"
        }
      ]
    },
    {
      "type": "select",
      "id": "site-background-image-repeat",
      "label": "Site background image repeat",
      "options": [
        {
          "value": "repeat",
          "label": "repeat"
        },
        {
          "value": "repeat-x",
          "label": "repeat-x"
        },
        {
          "value": "repeat-y",
          "label": "repeat-y"
        },
        {
          "value": "no-repeat",
          "label": "no-repeat"
        },
        {
          "value": "inherit",
          "label": "inherit"
        }
      ]
    },
    {
      "type": "select",
      "id": "site-background-image-attachment",
      "label": "Site background image attachment",
      "options": [
        {
          "value": "scroll",
          "label": "scroll"
        },
        {
          "value": "fixed",
          "label": "fixed"
        }
      ]
    }
  ],
  "blocks": [ 
  ],
  "presets": [
    {
      "name": "OLM Carousel Collection"
    }
  ]  
}
{% endschema %}